<step-container>
  <div class="step-container">
    <h1 class="step-title">Lokalizacja i adres</h1>
    <div class="map-container">
      <div class="title-container">
        <div class="subtitles-container">
          <p class="subtitle">Lokalizacja</p>
          <p class="subtitle-desc-custom">Pomaga sortować ogłoszenia</p>
        </div>
        <div class="localization-button">
          <i class="fas fa-map-pin"></i>
          <label for="localization-button">Zlokalizuj mnie</label>
        </div>
      </div>
      <map></map>
    </div>
    <div class="category-container">
      <p class="subtitle">Adres</p>
      <p class="subtitle-desc">Zostanie pobrany automatycznie lub można ręcznie wpisać</p>
      <div class="inputs-container">
        <div class="step-input-container">
          <input
            type="text"
            class="step-input"
            placeholder="Ulica"
          >
        </div>
        <div class="step-input-container">
          <input
            type="text"
            class="step-input"
            placeholder="Numer domu"
          >
        </div>
        <div class="step-input-container">
          <input
            type="text"
            class="step-input"
            placeholder="Numer mieszkania"
          >
        </div>
      </div>
      <div class="inputs-container">
        <div class="step-input-container">
          <input
            type="text"
            class="step-input"
            placeholder="Miasto"
          >
        </div>
        <div class="step-input-container">
          <input
            type="text"
            class="step-input"
            placeholder="Kod pocztowy"
          >
        </div>
      </div>
    </div>
  </div>
</step-container>
