<div class="toolbar" role="banner">
  <width-container>
      <div class="toolbar-container">
          <div routerLink="" class="toolbar-logo-container">
              <img src="../../../assets/logo.png" class="toolbar-logo" />
              <p class="toolbar-web-title">Alledrogo</p>
          </div>
          <div class="toolbar-buttons-container">
              <div routerLink="add-annoucement" class="toolbar-button">
                  <p class="toolbar-button-title">Dodaj ogłoszenie</p>
              </div>
              <i
                class="fas fa-right-from-bracket logout-icon"
                (click)="onLogout()"
              ></i>
          </div>
      </div>
  </width-container>
</div>
