<div class="container">
    <h1>Podstawowe informacje</h1>
    <div class="info">
        <div class="icon">
            <img src="assets/icons/coins.svg" alt="Pieniadze">
        </div>
        <label class="info-label">4800 zł</label>
    </div>
    <div class="info">
        <div class="icon">
            <img src="assets/icons/memory.svg" alt="Pamiec">
        </div>
        <label class="info-label">256 GB</label>
    </div>
    <div class="info">
        <div class="icon">
            <img src="assets/icons/maintenance.svg" alt="Stan">
        </div>
        <label class="info-label">Nieuszkodzony</label>
    </div>
</div>