<step-container>
  <div class="step-container">
    <h1 class="step-title">Dane użytkownika</h1>
    <div class="user-info-container">
      <p class="subtitle">Dane potrzebne do ułatwienia kontaktu</p>
      <p class="subtitle-desc">Pola zostały wypełnione danymi z profilu ale możesz je edytować</p>
      <div class="user-info-inputs">
        <div class="step-input-container">
          <input
            type="text"
            class="step-input"
            placeholder="Monika"
          >
          <i class="fas fa-user step-input-icon"></i>
        </div>
        <div class="step-input-container">
          <input
            type="text"
            class="step-input"
            placeholder="234895748"
          >
          <i class="fas fa-phone step-input-icon"></i>
        </div>
        <div class="step-input-container">
          <input
            type="text"
            class="step-input"
            placeholder="moniczqa32@onet.pl"
          >
          <i class="fas fa-at step-input-icon"></i>
        </div>
      </div>
    </div>
  </div>
</step-container>
