<div class="toolbar" role="banner">
    <width-container>
        <div class="toolbar-container">
            <div class="toolbar-logo-container">
                <img src="../../../assets/logo.png" class="toolbar-logo" />
                <p class="toolbar-web-title">Alledrogo</p>
            </div>
            <div class="toolbar-buttons-container">
                <div class="toolbar-button-outline">
                    <p class="toolbar-button-title">Sign up</p>
                </div>
                <div class="toolbar-button">
                    <p class="toolbar-button-title">Log in</p>
                </div>
            </div>
        </div>
    </width-container>
</div>