<div class="container">
    <h1>Opis</h1>
    <p class="description">
        Oferuję na sprzedaż iPhone 15 Pro w kolorze grafitowym o pojemności 128 GB. Telefon jest w stanie idealnym, używany przez krótki czas, bez żadnych rys czy uszkodzeń. Zawsze noszony w etui i z założoną folią ochronną na ekranie.
        <br><br>
        Specyfikacja:
        <br><br>
        Pojemność: 128 GB
        Kolor: Grafitowy
        Ekran: 6.1-calowy OLED Super Retina XDR
        Procesor: A17 Pro
        Aparat: 48 MP główny, 12 MP ultraszerokokątny, teleobiektyw 3x
        5G, Wi-Fi 6, Bluetooth 5.3
        Face ID, MagSafe, wodoodporność IP68
        Telefon pochodzi z oficjalnej dystrybucji, pełna oryginalna zawartość opakowania (ładowarka, kabel, dokumentacja). Został zaktualizowany do najnowszej wersji systemu iOS.
        <br><br>
        Sprzedaję go, ponieważ zdecydowałem się na model z większą pojemnością. Cena: 4800 zł – do negocjacji. Możliwość wysyłki lub odbiór osobisty w Warszawie.
        <br><br>
        Zapraszam do kontaktu!
    </p>
</div>