.container{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

h1{
  margin: 0;
}

.show-annoucements{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20%, 20%));
  gap: 3rem;
  justify-content: space-between;
}
