<div class="contact">
    <div class="socials">
        <h2>Find us</h2>
        <div class="social">
            <img src="assets/icons/facebook.svg" alt="Facebook"/>
            <p class="styled-text">Facebook</p>
        </div>
        <div class="social">
            <img src="assets/icons/instagram.svg" alt="Instagram"/>
            <p class="styled-text">Instagram</p>
        </div>
        <div class="social">
            <img src="assets/icons/tiktok.svg" alt="Tiktok"/>
            <p class="styled-text">TikTok</p>
        </div>
    </div>
    <div class="customer-services">
        <h2>Customer services</h2>
        <p class="styled-text">Phone number: <a href="tel: +48 444 555 666">+48 444 555 666</a><br>(from Monday to Friday from 8:00 a.m. to 4:00 p.m)</p>
        <p class="styled-text">E-mail: <a href="mailto: help@alledrogo.com">help@alledrogo.com</a><br>(from Monday to Friday from 8:00 a.m. to 8:00 p.m)</p>
    </div>
</div>
