<div class="container">
    <annoucement-details-images></annoucement-details-images>
    <div class="separatingLine"></div>
    <annoucement-details-description></annoucement-details-description>
    <div class="separatingLine"></div>
    <annoucement-details-location></annoucement-details-location>
    <div class="bottom-container">
        <label class="annoucement-id">Numer ogłoszenia: 8923476234</label>
        <div class="report-btn">
            <img src="assets/icons/report.svg" alt="Zgłoś"/>
            <label class="report-label">Zgłoś</label>
        </div>
    </div>
</div>
