<div class="container">
    <img src="assets/user.png" alt="User" />
    <div class="user-info">
        <label class="username">Monika</label>
        <label class="user-type">Osoba prywatna</label>
    </div>
    <div class="user-rating">
        <div class="stars">
            <img src="assets/icons/star-filled.svg" alt="Star" />
            <img src="assets/icons/star-filled.svg" alt="Star" />
            <img src="assets/icons/star-filled.svg" alt="Star" />
            <img src="assets/icons/star-filled.svg" alt="Star" />
            <img src="assets/icons/star.svg" alt="Star outlined" />
        </div>
        <label class="rate-label">Większość użytkowników jest zadowolonych ze współpracy z Monika</label>
    </div>
    <div class="contact-buttons">
        <div class="button">
            <img src="assets/icons/phone.svg" alt="Star" />
            <label class="button-label">Zadzwoń</label>
        </div>
        <div class="button">
            <img src="assets/icons/message.svg" alt="Star" />
            <label class="button-label">Napisz</label>
        </div>
    </div>
</div>