<div routerLink="/annoucement-details" class="annoucement-container">
  <img src="assets/adImg/ip1.jpg" alt="Annoucement image" class="annoucement-img">
  <div class="annoucement-info">
    <div class="info-section">
      <p class="title">Iphone 15 pro zadbany kondycja 93%</p>
      <i class="fas fa-heart icon-heart"></i>
    </div>
    <div class="info-section">
      <div class="type">
        <label class="type-label">Używany</label>
      </div>
    </div>
    <div class="info-section">
      <div class="small-info">
        <div class="basic-info">
          <i class="fas fa-circle-dot icon-info"></i>
          <label class="city">Włocławek</label>
        </div>
        <div class="basic-info">
          <i class="fas fa-calendar icon-info"></i>
          <label class="add-date">12.04.2025</label>
        </div>
      </div>
      <p class="price">4800 zł</p>
    </div>
  </div>
</div>
