<width-container>
    <div class="container">
        <div class="header">
            <annoucement-details-header></annoucement-details-header>
        </div>
        <div class="info-section">
            <div class="info">
                <annoucement-details-info></annoucement-details-info>
            </div>
            <div class="sidebar">
                <annoucement-details-sidebar></annoucement-details-sidebar>
            </div>
        </div>
        <div class="proposed">
            <annoucement-details-proposed></annoucement-details-proposed>
        </div>
    </div>
</width-container>
