.container{
    display: flex;
    flex-direction: column;
}

.info-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10em;
    margin-top: 1rem;
}

.info{
    flex: 3
}

.sidebar{
    flex: 2
}