<div class="toolbar" role="banner">
    <width-container>
        <div class="toolbar-container">
            <div routerLink="" class="toolbar-logo-container">
                <img src="../../../assets/logo.png" class="toolbar-logo" />
                <p class="toolbar-web-title">Alledrogo</p>
            </div>
            <div class="toolbar-buttons-container">
                <div class="toolbar-button-outline">
                    <p class="toolbar-button-title">Rejestracja</p>
                </div>
                <div class="toolbar-button" (click)="onLogin()">
                    <p class="toolbar-button-title">Logowanie</p>
                </div>
            </div>
        </div>
    </width-container>
</div>
