<div
  routerLink="/annoucement-details"
  class="container"
  [ngClass]="{'container-promoted': isPromoted, 'container-regular': !isPromoted }"
  >
    <img src="assets/adImg/ip3.jpg" class="photo" alt="Main photo" />
    <div class="title">
        <label class="title-label">Iphone 15 pro zadbany kondycja 93%</label>
        <div class="like-button">
            <img src="assets/icons/like.svg" class="like-img" alt="Like button" />
        </div>
    </div>
    <div class="price-type">
        <div class="type">
            <label class="type-label">Używany</label>
        </div>
        <label class="price">4800 zł</label>
    </div>
    <div class="basic-info-container">
        <div class="basic-info">
          <i class="fas fa-circle-dot icon-info"></i>
          <label class="city">Włocławek</label>
        </div>
        <div class="basic-info">
          <i class="fas fa-calendar icon-info"></i>
          <label class="add-date">12.04.2025</label>
        </div>
    </div>
</div>
