$my-primary: #4c46c8;
$my-secondary: #8d46c8;

$my-accent: #4681c8;

$light-bg: #fbfcfe;
$my-annoucement-bg: #f2f2f5;

$my-light-gray: #e8e9ee;
$my-gray: #a4a6a7;
$my-red: #FF6161;


html, body{
    margin: 3vh 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    overflow-x: hidden;
}

h1{
    margin-bottom: 0.3em;
    font-size: 1.5rem;
}
