<div routerLink="/annoucement-details" class="container">
    <img src="assets/adImg/ip3.jpg" class="photo" alt="Main photo" />
    <div class="title">
        <label class="title-label">Iphone 15 pro zadbany kondycja 93%</label>
        <div class="like-button">
            <img src="assets/icons/like.svg" class="like-img" alt="Like button" />
        </div>
    </div>
    <label class="price">4800 zł</label>
    <div class="basic-info">
        <label class="city">Włocławek</label>
        <label class="add-date">12.04.2025</label>
    </div>
</div>
