@import 'src/styles';

.container{
  display: flex;
  flex-direction: column;
  width: 15rem;
  gap: 1rem;
  padding: 0.7rem;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 0px 10px 0px rgb(194 194 196);
  -moz-box-shadow: 0px 0px 10px 0px rgba(194 194 196);
  box-shadow: 0px 0px 10px 0px rgba(194 194 196);
  transition: all 0.3s ease-in;

  &-regular{
    background: $my-annoucement-bg;

    &:hover{
      background: $my-light-gray;
    }
  }

  &-promoted{
    background: rgba($my-accent, 0.15);

    &:hover{
      background: rgba($my-accent, 0.25);
    }
  }

  &:hover{
    cursor: pointer;
  }
}

img.photo{
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 0.6rem;
}

img{
  &:hover{
    cursor: pointer;
  }
}

.title{
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: space-between;

  &,
  &-label{
    font-size: 1rem;
    font-weight: 700;

    &:hover{
      cursor: pointer;
    }
  }
}

.price-type{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.type{
  background: rgba($my-accent, 0.2);
  padding: 0.3rem 0.5rem;
  border-radius: 0.5rem;
}

.price{
  font-size: 1.4rem;
  font-weight: 700;
  color: $my-primary;
  text-align: center;

  &:hover{
    cursor: pointer;
  }
}

.basic-info-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.8rem;
  color: $my-gray;
}

.basic-info{
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}

.city, .add-date{
  &:hover{
    cursor: pointer;
  }
}

.icon-info{
  color: $my-primary;
  font-size: 0.8rem;
  opacity: 0.8;
}
