<div class="add-annoucement-container">
  <h1>Dodaj ogłoszenie</h1>
  <div class="steps">
    <title-categories
      (titleChange)="updateTitle($event)"
      (categoryChange)="updateCategory($event)"
    ></title-categories>
    <photos-desc></photos-desc>
    <additional-info></additional-info>
    <user-address></user-address>
    <user-info></user-info>
    <div class="add-button-container">
      <div class="step-section">
        <div class="step-section-circle">
          <div class="step-section-circle-dot"></div>
        </div>
      </div>
      <div class="form-section">
        <div class="add-button" (click)="addAnnoucement()">
          <p class="add-button-text">Dodaj ogłoszenie</p>
        </div>
      </div>
    </div>
  </div>
</div>
